:root{
    --baseColor : skyblue;
}

body{
    background-color: rgb(240,240,240) !important;
}

.ant-tabs-tab-active{
    border-right: 0 !important;
    border-left: 4px solid var(--baseColor) !important;
    background-color: white !important;
}

.ant-tabs-tab{
    border: none !important;
    width: 100% !important;
    border-left: 4px solid transparent !important;

}

.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
    padding: 0.25rem  !important;
    padding-left: 0 !important;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab { /* For tabs border */
    border-color: black;
  }
.ant-tabs-tab-btn{
    width: 100% !important;
}
  
  .ant-tabs-top > .ant-tabs-nav::before { /* For the line to the right and close to the tabs */
    border-color: black;
  }
  
  .ant-tabs > .ant-tabs-nav { /* So that there is no gap between the content and tabs */
    margin-bottom: 0;
    width: 230px !important;
    
  }

  .ant-tabs-nav:hover, .ant-tabs-tab:hover,.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
    color:rgba(0,0,0,.85) !important;
  }

  .ant-tabs-tab-active{
      color: green !important;
      box-shadow: 4px 0 7px #ccc !important;
      border-left: 4px solid green !important;
  }

  .ant-tabs-nav:hover, .ant-tabs-nav>div:hover{
    color:rgba(0,0,0,.85) !important;
  }

.ant-tabs-nav-list{
    padding: 0.5rem !important;
    padding-left: 0;
}

.ant-tabs-ink-bar {
    display: none;
    height: 0px;
    background: green !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:rgba(0,0,0,0.85) !important;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      margin: 0.25rem 0!important;
  }

  .ant-tabs-left > .ant-tabs-content-holder, .ant-tabs-left > div > .ant-tabs-content-holder {
      border-left:0 !important;
      margin-left: 0 !important;
  }

  .ant-tabs-nav-operations{
      display:none !important;
  } 

  @media screen and (max-width:760px){
      .ant-tabs-tab-active{
          width: 100% !important;
      }

      .ant-tabs-nav-list{
          width: 100% !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
      }

      .ant-tabs-tab-btn{
          width: 100% !important;
          text-align: center;
          font-size: 1.3rem !important;
      }

      .ant-tabs-tab{
          display: none !important;
      }
      .ant-tabs-tab.ant-tabs-tab-active{
          display: block !important;
      }

      .ant-tabs > .ant-tabs-nav{
          width: 100% !important;
      }
      .edit_profile_form{
          width:90% !important;
      }
  }


.BackButton{
    padding: 0.5rem 2rem;

    background-color: transparent;
    border:1px solid #ccc;
    border-radius: 4px;
}
.BackButton:disabled{
    cursor: not-allowed;
}

.NextButton{
    padding: 0.5rem 2rem;
    background-color: green;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:white;
}
.NextButton:hover{
    background-color: darkgreen;
}